WordsTraining/Resources/DictionaryScheme.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="dictionary">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="card">
                    <xs:complexType>
                        <xs:sequence>
                          <xs:element name="word1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="text" type="xs:string" />
                                <xs:element minOccurs="0" name="comment" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="counter" type="xs:integer" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="word2">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="text" type="xs:string" />
                                <xs:element minOccurs="0" name="comment" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="counter" type="xs:integer" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name ="comment" type="xs:string"/>
                        </xs:sequence>
                      <xs:attribute name="type" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
          <xs:attribute name="lang1" type="xs:string" use="required" />
          <xs:attribute name="lang2" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>